body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    margin: 0;   
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 100%;
  height: 180px;      
  object-fit: cover;
  object-position: 0 -130px;
  display: block;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(200, 200, 200);
    text-align: center;
    margin-top: -145px;
    margin-bottom: 80px;
    font-size: 80px;
}

h2 {
    color: orange;
    font-size: 32px;
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: rgb(211, 211, 211);
    text-align: center;
}

a:hover {
    text-decoration: underline;
    color: orangered;
}

table {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 20px;
}

th,
td {
  padding: 0px 12px;
  text-align: left;
}

th {
  color: rgb(220, 220, 220);
  margin-bottom: 20px;
}

td {
  color: rgb(165, 165, 165);
}

table img {
  width: 60px;
  height: auto;
}

p {
    color: #fff;
    font-size: 24px;
}

.img_404 {
    height: 100vh;
    width: auto;
}