body {
    font-family: Arial, sans-serif;
}

h1 {
    color: darkgreen;
}

h2 {
    color: darkred;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: orangered;
}