body {
    font-family: Arial, sans-serif;
    background-color: black;
}

h1 {
    color: green;
}

h2 {
    color: orange;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: orangered;
}

ul, p {
    color: white;
}