{% extends "fruits_app/base.html" %}

{% block content %}
    <h2>Alle Früchte</h2>

    <ul>
        {% for fruit in fruits %}
            <li>
                {{ fruit.name }} - {{ fruit.weight }}g - {{ fruit.color }}
            </li>
        {% endfor %}
    </ul>


    <h2>bestellte Früchte</h2>

    <ul>
        {% for fruit in fruits %}
            {% if fruit.is_ordered %}
                <li>
                    {{ fruit.name }} - {{ fruit.weight }}g - {{ fruit.color }}
                </li>
            
            {% endif %}
        {% endfor %}
    </ul>

    <h2>nicht bestellte Früchte</h2>

    <ul>
        {% for fruit in fruits %}
            {% if not fruit.is_ordered %}
                <li>
                    {{ fruit.name }} - {{ fruit.weight }}g - {{ fruit.color }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}